workflows/AI-Lead-Extractor-v1.json
{
  "name": "AI Lead Extractor v1",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "responses": {
          "values": [
            {
              "content": "=你是一个企业级销售线索信息提取引擎（Lead Information Extraction Engine）。\n\n## 任务\n从客户咨询文本中提取结构化信息，并评估每个字段的提取置信度。\n\n## 输出 JSON Schema\n严格按照以下 schema 返回，不要添加额外字段：\n{\n  \"company\": string | null,\n  \"contact_name\": string | null,\n  \"email\": string | null,\n  \"budget\": string | null,\n  \"urgency\": string | null,\n  \"analysis_summary\": string,\n  \"confidence\": {\n    \"company\": number,\n    \"contact_name\": number,\n    \"email\": number,\n    \"budget\": number,\n    \"urgency\": number\n  }\n}\n\n## 置信度标准\n- 1.0: 文本中明确提及\n- 0.7-0.9: 可以合理推断\n- 0.3-0.6: 信息模糊或不完整\n- 0.0: 文本中完全没有相关信息（此时字段返回 null）\n\n## 示例 1\n输入: \"我是张伟，来自星辰科技有限公司，邮箱 zhangwei@xingchen.com，我们预算大约50万，希望下周能开始对接。\"\n输出:\n{\"company\":\"星辰科技有限公司\",\"contact_name\":\"张伟\",\"email\":\"zhangwei@xingchen.com\",\"budget\":\"50万\",\"urgency\":\"下周开始对接\",\"analysis_summary\":\"完整的高质量线索：包含公司、联系人、邮箱、明确预算和紧急时间线\",\"confidence\":{\"company\":1.0,\"contact_name\":1.0,\"email\":1.0,\"budget\":0.9,\"urgency\":0.9}}\n\n## 示例 2\n输入: \"你好，想了解一下你们的企业解决方案，我们是做电商的。\"\n输出:\n{\"company\":null,\"contact_name\":null,\"email\":null,\"budget\":null,\"urgency\":null,\"analysis_summary\":\"初步咨询线索：仅提及行业（电商），无具体公司、联系人或预算信息\",\"confidence\":{\"company\":0.0,\"contact_name\":0.0,\"email\":0.0,\"budget\":0.0,\"urgency\":0.0}}\n\n## 输入文本\n{{ $('1.5-Validate-Input-Generate-RunID').item.json.lead_text }}\n\n请只返回 JSON。"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          },
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1264,
        -64
      ],
      "id": "64f35055-00ec-47d0-b6c3-dc24216a8750",
      "name": "2-AI-Extract-Info",
      "alwaysOutputData": false,
      "credentials": {
        "openAiApi": {
          "id": "3R4A1arhplqNP80D",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ==============================================\n// 节点 3: 数据整理与多维度加权评分\n// 功能: 提取 AI 输出、多维加权评分、记录评分明细\n// ==============================================\n\n// 1. 获取各个节点的数据\nconst run_id = $('1.5-Validate-Input-Generate-RunID').item.json.run_id;\nconst external_id = $('1.5-Validate-Input-Generate-RunID').item.json.external_id;\nconst lead_text = $('1.5-Validate-Input-Generate-RunID').item.json.lead_text;\n\n// 2. 获取 AI 提取的数据（已经过验证）\nconst aiData = $('2.5-Validate-AI-Output').item.json;\n\n// 3. 辅助函数\nfunction toNullable(value) {\n  if (value === null || value === undefined || value === 'null' || value === '') return null;\n  return value;\n}\nfunction escapeSql(value) {\n  if (value === null || value === undefined) return null;\n  return String(value).replace(/'/g, \"''\");\n}\n\n// 4. 提取并标准化字段\nconst company = toNullable(aiData.company);\nconst contact_name = toNullable(aiData.contact_name);\nconst email = toNullable(aiData.email);\nconst budget = toNullable(aiData.budget);\nconst urgency = toNullable(aiData.urgency);\nconst analysis_summary = toNullable(aiData.analysis_summary);\nconst confidence = aiData.confidence || {};\n\n// 5. 多维度加权评分系统\nconst WEIGHTS = {\n  budget: 0.30,\n  urgency: 0.20,\n  contact_info: 0.20,\n  company: 0.15,\n  ai_confidence: 0.15\n};\n\nlet score_breakdown = {};\n\n// 5.1 预算评分 (0-100)\nlet budgetScore = 0;\nif (budget) {\n  budgetScore = 60;\n  if (budget.includes('万') || budget.includes('$') || budget.includes('美元') || budget.includes('k') || budget.includes('K')) {\n    budgetScore = 100;\n  }\n}\nscore_breakdown.budget = { raw: budgetScore, weight: WEIGHTS.budget, weighted: Math.round(budgetScore * WEIGHTS.budget) };\n\n// 5.2 紧急度评分 (0-100)\nlet urgencyScore = 0;\nif (urgency) {\n  urgencyScore = 50;\n  if (urgency.includes('天') || urgency.includes('周') || urgency.includes('紧急') || urgency.includes('尽快') || urgency.includes('立即')) {\n    urgencyScore = 100;\n  } else if (urgency.includes('月') || urgency.includes('季度')) {\n    urgencyScore = 70;\n  }\n}\nscore_breakdown.urgency = { raw: urgencyScore, weight: WEIGHTS.urgency, weighted: Math.round(urgencyScore * WEIGHTS.urgency) };\n\n// 5.3 联系信息评分 (0-100)\nlet contactScore = 0;\nif (email) contactScore += 60;\nif (contact_name) contactScore += 40;\nscore_breakdown.contact_info = { raw: contactScore, weight: WEIGHTS.contact_info, weighted: Math.round(contactScore * WEIGHTS.contact_info) };\n\n// 5.4 公司信息评分 (0-100)\nlet companyScore = company ? 100 : 0;\nscore_breakdown.company = { raw: companyScore, weight: WEIGHTS.company, weighted: Math.round(companyScore * WEIGHTS.company) };\n\n// 5.5 AI 置信度评分 (0-100)\nconst confValues = Object.values(confidence);\nlet avgConf = confValues.length > 0 ? confValues.reduce((s, v) => s + (typeof v === 'number' ? v : 0), 0) / confValues.length : 0;\nlet confScore = Math.round(avgConf * 100);\nscore_breakdown.ai_confidence = { raw: confScore, weight: WEIGHTS.ai_confidence, weighted: Math.round(confScore * WEIGHTS.ai_confidence) };\n\n// 5.6 计算加权总分\nlet score = Object.values(score_breakdown).reduce((sum, dim) => sum + dim.weighted, 0);\n\n// 5.7 应用验证扣罚\nconst validation = aiData.validation;\nif (validation && validation.score_penalty) {\n  score -= validation.score_penalty;\n}\nscore = Math.min(Math.max(Math.round(score), 0), 100);\n\n// 6. 返回整理后的数据\nreturn {\n  json: {\n    run_id: run_id,\n    external_id: external_id,\n    idempotency_key: $('1.5-Validate-Input-Generate-RunID').item.json.idempotency_key,\n    raw_text: escapeSql(lead_text),\n    company: escapeSql(company),\n    contact_name: escapeSql(contact_name),\n    email: escapeSql(email),\n    budget: escapeSql(budget),\n    urgency: escapeSql(urgency),\n    score: score,\n    score_breakdown: score_breakdown,\n    analysis_summary: analysis_summary,\n    confidence: confidence,\n    status: 'new',\n    validation: validation\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        -64
      ],
      "id": "94592d9a-b3ee-4fc2-8ede-dc209e0e3ca6",
      "name": "3-Prepare-Data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO leads (\n    idempotency_key, external_id, run_id, raw_text,\n    company, contact_name, email, budget,\n    urgency, score, status,\n    created_at, updated_at\n)\nVALUES (\n    '{{ $json.idempotency_key }}',\n    '{{ $json.external_id }}',\n    '{{ $json.run_id }}',\n    '{{ $json.raw_text }}',\n    '{{ $json.company }}',\n    '{{ $json.contact_name }}',\n    '{{ $json.email }}',\n    '{{ $json.budget }}',\n    '{{ $json.urgency }}',\n    {{ $json.score }},\n    '{{ $json.status }}',\n    NOW(),\n    NOW()\n)\nON CONFLICT (idempotency_key) DO UPDATE SET\n    run_id = EXCLUDED.run_id,\n    updated_at = NOW(),\n    company = EXCLUDED.company,\n    contact_name = EXCLUDED.contact_name,\n    email = EXCLUDED.email,\n    budget = EXCLUDED.budget,\n    urgency = EXCLUDED.urgency,\n    score = EXCLUDED.score,\n    status = CASE\n        WHEN leads.status = 'processed' THEN 'processed'\n        ELSE EXCLUDED.status\n    END\nRETURNING id, idempotency_key, external_id, run_id, raw_text,\n          company, contact_name, email, budget, urgency, score, status,\n          created_at, updated_at, (xmax = 0) AS is_new_record;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2064,
        -64
      ],
      "id": "58218919-a39f-4a2c-9e2e-4e9f783ee389",
      "name": "4-Write-to-Database",
      "credentials": {
        "postgres": {
          "id": "Ok0r1JvGdedXb5am",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "446d09d5-90ce-4aba-9e14-9a4c5229a493",
              "leftValue": "={{ $('3-Prepare-Data').item.json.score }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2960,
        -160
      ],
      "id": "dfa8974f-ea1c-4204-a57b-f0f2d6a45aac",
      "name": "5-Check-High-Score"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        144,
        32
      ],
      "id": "cff650f8-addd-4ffd-b30a-fddccff8a896",
      "name": "1-Receive-Webhook",
      "webhookId": "996bf28f-ea49-4cdc-a9bc-c99dcca13247"
    },
    {
      "parameters": {
        "jsCode": "// ===== 1. 获取请求数据 =====\nconst body = $input.item.json.body || $input.item.json;\n\n// ===== 2. 输入校验 =====\nconst lead_text = body.lead_text;\nif (!lead_text || lead_text.trim() === '') {\n  // 返回校验失败标志（不再 throw Error）\n  return {\n    json: {\n      is_valid: false,\n      error: 'Missing required field: lead_text'\n    }\n  };\n}\n\n// ===== 3. 生成 run_id（链路追踪） =====\nconst run_id = $execution.id || 'local_' + Date.now();\n\n// ===== 4. 生成 external_id（业务主键） =====\nconst timestamp = Date.now();\nconst randomStr = Math.random().toString(36).substring(2, 9);\nconst external_id = `lead_${timestamp}_${randomStr}`;\n\n// ===== 5. 文本标准化（增强版） =====\nconst normalizedText = lead_text\n  .trim()\n  .toLowerCase()\n  .replace(/\\s+/g, ' ')\n  .replace(/\\s*([，。、！？,.])\\s*/g, '$1');\n\n// ===== 6. DJB2 hash 函数（稳定版） =====\nfunction stableHash(str) {\n  let hash = 5381;\n  for (let i = 0; i < str.length; i++) {\n    const char = str.charCodeAt(i);\n    hash = ((hash << 5) + hash) + char;\n    hash = hash >>> 0;\n  }\n  return hash.toString(36) + '_L' + str.length.toString(36);\n}\n\n// ===== 7. 生成幂等键 =====\nconst hash = stableHash(normalizedText);\nconst idempotency_key = `lead:${hash}`;\n\n// ===== 8. 返回所有字段 =====\nreturn {\n  json: {\n    is_valid: true,\n    run_id: run_id,\n    external_id: external_id,\n    idempotency_key: idempotency_key,\n    lead_text: lead_text.trim(),\n    normalized_text: normalizedText,\n    source: body.source || 'webhook',\n    received_at: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        32
      ],
      "id": "111b2511-d9d9-4b31-a453-6f2c140e7f72",
      "name": "1.5-Validate-Input-Generate-RunID"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "events",
          "mode": "list",
          "cachedResultName": "events"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "step": "lead_created",
            "status": "success",
            "run_id": "={{ $json.run_id }}",
            "lead_id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "step",
              "displayName": "step",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2288,
        -64
      ],
      "id": "a9bd80e5-f640-4ca8-b973-ed66518d000a",
      "name": "4.5-Log-Lead-Created",
      "credentials": {
        "postgres": {
          "id": "Ok0r1JvGdedXb5am",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "events",
          "mode": "list",
          "cachedResultName": "events"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $('4-Write-to-Database').item.json.id }}",
            "run_id": "={{ $('1.5-Validate-Input-Generate-RunID').item.json.run_id }}",
            "step": "notification_sent",
            "status": "success"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "step",
              "displayName": "step",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4080,
        -256
      ],
      "id": "8ded6e9f-39bc-4d38-b0e6-55a920c9db80",
      "name": "6.5b-Log-Notification-Sent",
      "credentials": {
        "postgres": {
          "id": "Ok0r1JvGdedXb5am",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// 节点 2.5: AI 输出验证（增强版）\n// 功能: 验证格式、字段类型、置信度范围、新增字段\n// ============================================================\n\n// 1. 获取 AI 提取的数据\nconst aiOutput = $input.item.json.output[0].content[0].text;\n\n// 2. 定义验证结果\nlet validationResult = {\n  is_valid: true,\n  errors: [],\n  warnings: [],\n  score_penalty: 0\n};\n\n// 3. 验证数据字段\nconst dataFields = {\n  company: aiOutput.company,\n  contact_name: aiOutput.contact_name,\n  email: aiOutput.email,\n  budget: aiOutput.budget,\n  urgency: aiOutput.urgency\n};\n\nlet extractedCount = 0;\nfor (const [field, value] of Object.entries(dataFields)) {\n  if (value && value !== null && value !== 'null' && String(value).trim() !== '') {\n    extractedCount++;\n  }\n}\nif (extractedCount < 2) {\n  validationResult.warnings.push(`Only ${extractedCount} fields extracted — low data quality`);\n  validationResult.score_penalty += 10;\n}\n\n// 4. Email 格式验证\nif (aiOutput.email && aiOutput.email !== null && aiOutput.email !== 'null') {\n  const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n  if (!emailRegex.test(String(aiOutput.email).trim())) {\n    validationResult.errors.push(`Invalid email format: ${aiOutput.email}`);\n    validationResult.score_penalty += 20;\n    validationResult.is_valid = false;\n  }\n}\n\n// 5. 数据类型检查\nfor (const [field, value] of Object.entries(dataFields)) {\n  if (value !== null && value !== undefined && typeof value !== 'string') {\n    validationResult.errors.push(`Field ${field}: expected string, got ${typeof value}`);\n    validationResult.score_penalty += 10;\n  }\n}\n\n// 6. Confidence 验证\nconst confidence = aiOutput.confidence;\nif (confidence && typeof confidence === 'object') {\n  for (const [field, value] of Object.entries(confidence)) {\n    if (typeof value !== 'number' || value < 0 || value > 1) {\n      validationResult.warnings.push(`Confidence for ${field} out of range: ${value}`);\n    }\n  }\n} else {\n  validationResult.warnings.push('Missing confidence scores from AI output');\n}\n\n// 7. Analysis summary 验证\nif (!aiOutput.analysis_summary || typeof aiOutput.analysis_summary !== 'string') {\n  validationResult.warnings.push('Missing analysis_summary from AI output');\n}\n\n// 8. 返回结果\nreturn {\n  json: {\n    ...aiOutput,\n    validation: validationResult\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        -64
      ],
      "id": "537b8486-529a-473d-941f-c13c122dd897",
      "name": "2.5-Validate-AI-Output"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "events",
          "mode": "list",
          "cachedResultName": "events"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $('4-Write-to-Database').item.json.id }}",
            "run_id": "={{ $('1.5-Validate-Input-Generate-RunID').item.json.run_id }}",
            "step": "ai_validation",
            "status": "=\t{{ $('2.5-Validate-AI-Output').item.json.validation.is_valid ? 'success' : 'warning' }}",
            "created_at": "={{ $now }}",
            "data": "={{ JSON.stringify($('2.5-Validate-AI-Output').item.json.validation) }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "step",
              "displayName": "step",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2736,
        -160
      ],
      "id": "5f57f059-95b2-4c2e-8430-5975d13b876c",
      "name": "4.7-Log-Validation-Result",
      "credentials": {
        "postgres": {
          "id": "Ok0r1JvGdedXb5am",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "email": "={{ $('4-Write-to-Database').item.json.email }}",
        "additionalFields": {
          "companyName": "={{ $('4-Write-to-Database').item.json.company }}",
          "firstName": "={{ $('2-AI-Extract-Info').item.json.contact_name ? $('2-AI-Extract-Info').item.json.contact_name.split(' ')[0] : '' }}",
          "lastName": "={{ $('2-AI-Extract-Info').item.json.contact_name ? $('2-AI-Extract-Info').item.json.contact_name.split(' ').slice(1).join(' ') : '' }}",
          "leadStatus": "NEW"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        3184,
        -256
      ],
      "id": "6ae175fc-ea48-4c13-8e8f-2d8a2c4992aa",
      "name": "6-HubSpot Contact Upsert",
      "credentials": {
        "hubspotAppToken": {
          "id": "9cmVtUZUQyyifdhO",
          "name": "HubSpot App Token account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "events",
          "mode": "list",
          "cachedResultName": "events"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $('4-Write-to-Database').first().json.id }}",
            "run_id": "={{ $('1.5-Validate-Input-Generate-RunID').item.json.run_id }}",
            "step": "hubspot_sync",
            "status": "success",
            "data": "={\n  \"contact_id\": \"{{ $('6-HubSpot Contact Upsert').item.json.id }}\",\n  \"email\": \"{{ $('6-HubSpot Contact Upsert').item.json.properties.email }}\",\n  \"operation\": \"{{ $('6-HubSpot Contact Upsert').item.json.createdAt === $('6-HubSpot Contact Upsert').item.json.updatedAt ? 'created' : 'updated' }}\",\n  \"lead_score\": {{ $('4-Write-to-Database').item.json.score }},\n  \"hubspot_url\": \"https://app.hubspot.com/contacts/YOUR_HUBSPOT_PORTAL_ID/contact/{{ $('6-HubSpot Contact Upsert').item.json.id }}\"\n}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "step",
              "displayName": "step",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3408,
        -256
      ],
      "id": "e948e94a-aaee-484e-9153-c954c02bf6a7",
      "name": "6.5-Log HubSpot Sync Event",
      "credentials": {
        "postgres": {
          "id": "Ok0r1JvGdedXb5am",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_SLACK_WEBHOOK_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"🚨 High-Quality Lead Alert!\\n\\nCompany: {{ $json.company }}\\nContact: {{ $json.contact_name }}\\nEmail: {{ $json.email }}\\nBudget: {{ $json.budget }}\\nUrgency: {{ $json.urgency }}\\nLead Score: {{ $json.score }}/100\\n\\n📋 HubSpot: {{ $json.hubspot_url }}\\n\\n🔍 Run ID: {{ $json.run_id }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3856,
        -256
      ],
      "id": "cf2c3999-9ee5-4968-9842-c9b67216b545",
      "name": "7-Send-Slack-Notification"
    },
    {
      "parameters": {
        "jsCode": "// 从各个节点获取数据\nconst leadData = $('4-Write-to-Database').item.json;\nconst hubspotData = $('6-HubSpot Contact Upsert').item.json;\nconst runId = $('1.5-Validate-Input-Generate-RunID').item.json.run_id;\n\n// 从 HubSpot 输出中提取 contact ID\n// 根据你的输出结构，ID 在 properties.hs_object_id.value\nlet contactId;\nif (hubspotData.id) {\n  // 如果顶层有 id（标准格式）\n  contactId = hubspotData.id;\n} else if (hubspotData.properties && hubspotData.properties.hs_object_id) {\n  // 如果在 properties.hs_object_id.value\n  contactId = hubspotData.properties.hs_object_id.value;\n}\n\n// 构造 HubSpot URL\nconst hubspotUrl = `https://app.hubspot.com/contacts/YOUR_HUBSPOT_PORTAL_ID/contact/${contactId}`;\n\n// 返回准备好的数据\nreturn {\n  json: {\n    company: leadData.company || 'N/A',\n    contact_name: leadData.contact_name || 'N/A',\n    email: leadData.email || 'N/A',\n    budget: leadData.budget || 'N/A',\n    urgency: leadData.urgency || 'N/A',\n    score: leadData.score,\n    hubspot_url: hubspotUrl,\n    hubspot_contact_id: contactId,\n    run_id: runId\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3632,
        -256
      ],
      "id": "0899f69d-b1f1-4fbf-8754-0e409620b5fb",
      "name": "6.7-Prepare-Slack-Data"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "events",
          "mode": "list",
          "cachedResultName": "events"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "step": "low_score_completed",
            "status": "success",
            "run_id": "={{ $('1.5-Validate-Input-Generate-RunID').item.json.run_id }}",
            "lead_id": "={{ $('4-Write-to-Database').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "step",
              "displayName": "step",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3184,
        -64
      ],
      "id": "ab8d1f41-2169-4ee6-b268-867a269d060f",
      "name": "5.5-Log-Low-Score-Complete",
      "credentials": {
        "postgres": {
          "id": "Ok0r1JvGdedXb5am",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "2c004af6-d66d-4c79-b0bb-0c9d8e0c133f",
              "leftValue": "={{ $('4-Write-to-Database').item.json.is_new_record }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2512,
        -64
      ],
      "id": "07d72572-915a-490a-aa4a-c5339f681b68",
      "name": "4.6-Check-New-Record"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "events",
          "mode": "list",
          "cachedResultName": "events"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $('4-Write-to-Database').item.json.id }}",
            "run_id": "={{ $('1.5-Validate-Input-Generate-RunID').item.json.run_id }}",
            "status": "skipped",
            "step": "duplicate_skipped"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "step",
              "displayName": "step",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2736,
        32
      ],
      "id": "132f3134-44c6-4348-acdc-76ee9360b004",
      "name": "4.6b-Log-Duplicate-Skipped",
      "credentials": {
        "postgres": {
          "id": "Ok0r1JvGdedXb5am",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "514eba9c-758a-4312-97c0-29ca18304009",
              "leftValue": "={{ $json.is_valid }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        592,
        32
      ],
      "id": "38a7b042-911b-4ccd-8d60-3381a0df2ff1",
      "name": "1.6-Validation-Result-Check"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "events",
          "mode": "list",
          "cachedResultName": "events"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "step": "webhook_received",
            "status": "success",
            "run_id": "={{ $json.run_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "step",
              "displayName": "step",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1040,
        -64
      ],
      "id": "9288cb87-36fa-4b8d-976d-e2dccab53563",
      "name": "1.7-Log-Webhook-Received",
      "credentials": {
        "postgres": {
          "id": "Ok0r1JvGdedXb5am",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"received\",\n  \"message\": \"Lead intake processing started\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        816,
        -64
      ],
      "id": "e847168e-a326-43ab-b40d-19865fcc5daf",
      "name": "1.65-Return-Success-Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"error\",\n  \"message\": \"Missing required field: lead_text\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        816,
        128
      ],
      "id": "d2994bff-ed50-4152-b05f-e8a85e1c40f1",
      "name": "1.66-Return-Error-Response"
    }
  ],
  "pinData": {},
  "connections": {
    "2-AI-Extract-Info": {
      "main": [
        [
          {
            "node": "2.5-Validate-AI-Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3-Prepare-Data": {
      "main": [
        [
          {
            "node": "4-Write-to-Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4-Write-to-Database": {
      "main": [
        [
          {
            "node": "4.5-Log-Lead-Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5-Check-High-Score": {
      "main": [
        [
          {
            "node": "6-HubSpot Contact Upsert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "5.5-Log-Low-Score-Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1-Receive-Webhook": {
      "main": [
        [
          {
            "node": "1.5-Validate-Input-Generate-RunID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1.5-Validate-Input-Generate-RunID": {
      "main": [
        [
          {
            "node": "1.6-Validation-Result-Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4.5-Log-Lead-Created": {
      "main": [
        [
          {
            "node": "4.6-Check-New-Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2.5-Validate-AI-Output": {
      "main": [
        [
          {
            "node": "3-Prepare-Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4.7-Log-Validation-Result": {
      "main": [
        [
          {
            "node": "5-Check-High-Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6-HubSpot Contact Upsert": {
      "main": [
        [
          {
            "node": "6.5-Log HubSpot Sync Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6.5-Log HubSpot Sync Event": {
      "main": [
        [
          {
            "node": "6.7-Prepare-Slack-Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7-Send-Slack-Notification": {
      "main": [
        [
          {
            "node": "6.5b-Log-Notification-Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6.7-Prepare-Slack-Data": {
      "main": [
        [
          {
            "node": "7-Send-Slack-Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4.6-Check-New-Record": {
      "main": [
        [
          {
            "node": "4.7-Log-Validation-Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "4.6b-Log-Duplicate-Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1.6-Validation-Result-Check": {
      "main": [
        [
          {
            "node": "1.65-Return-Success-Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "1.66-Return-Error-Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1.7-Log-Webhook-Received": {
      "main": [
        [
          {
            "node": "2-AI-Extract-Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1.65-Return-Success-Response": {
      "main": [
        [
          {
            "node": "1.7-Log-Webhook-Received",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "it8oUdn5j-rjGFLUQ1jTd"
  },
  "versionId": "7324c41e-d2c8-4de4-ae13-af6295a00205",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "70761c2c715fda7ab855789f90ed0d98fc6f5c61eb202674453c3f00f4d965ca"
  },
  "id": "TGOviy_hg24LKaTwBKn-g",
  "tags": []
}